:root {
  /* color */
  
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
}

* {
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

body {
  background-color: white;
}

.title_1{
  font-size: 44px;
}

.title_2 {
  font-size: 26px;
}
.wrap {
  animation: up-down 1.4s infinite ease-in-out alternate;
}
