:root {
  /* color */
  
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
}

* {
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

.wrap {
  animation: up-down 1.4s infinite ease-in-out alternate;
  margin-top: 2rem;
}
