#main {
  background-color: white;
  width: 30%;
  text-align: center;
  border-radius: 20px;
}

.btn-success {
  padding: 6px;
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  height: 60px;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  letter-spacing: 6px;
}

.aa {
  color : black;
}
