:root {
  /* color */
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
  --dark-main-color: #6b9b37;
  --before-color: #3daf42;
  --background-color: #f1f8e9;
}

/* #qna{
    display: none;
} */

#qna {
  display: none;
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
}

.qBox {
  font-family: 'Gothic A1', sans-serif;
  font-weight : 700px;
  /* background-color: white; */
  text-align: center;
  border-radius: 20px;
  font-size: 32px;
  width: 80%;
  border: none;
  color: #6E7783;
}

.answerList {
  font-family: 'Gothic A1', sans-serif;
  font-weight : 700px;
  background-color: #9DC3C1;
  border-radius: 10px;
  display: block;
  width: 45%;
  /*border: 3px solid var(--main-color);*/
  border: none;
  color: white;
  font-size: 20px;
}

.answerList:hover,
.answerList:focus {
  background-color: #9dc3c183;
  color: var(--white-color);
  border-color: var(--white-color);
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
  background: #9DC3C1;

  /* Old browsers */
  /* background: -moz-linear-gradient(top, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%);
    /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%);
    W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
  /* IE6-9 */
}

#introimg{
  height: 300px;
  display: block;
  margin:0px auto;
}
