:root {
  /* color */
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
  --dark-main-color: #6b9b37;
  --before-color: #3daf42;
  --background-color: #f1f8e9;
}

/* #qna{
    display: none;
} */

#qna {
  display: none;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.qBox {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 32px;
  width: 80%;
  border: none;
}

.answerList {
  background-color: var(--background-color);
  border-radius: 10px;
  display: block;
  width: 50%;
  /*border: 3px solid var(--main-color);*/
  border: none;
  color: var(--dark-main-color);
  font-size: 20px;
}

.answerList:hover,
.answerList:focus {
  background-color: var(--main-color);
  color: var(--white-color);
  border-color: var(--white-color);
}

.status {
  height: 20px;
  width: 80%;
  background-color: #dbdbdb;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
  background: var(--main-color);
  /* Old browsers */
  /* background: -moz-linear-gradient(top, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%);
    /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%); */
  /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom, #b5fcd5 0%, #6ff78d 52%, #20fc32 100%);
    W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#febbbb', endColorstr='#ff5c5c', GradientType=0);
  /* IE6-9 */
}

#introimg{
  height: 34rem;
  width: 90rem;
  margin-left: 12rem;
  
}