:root {
  /* color */
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
  --dark-main-color: #6b9b37;
  --before-color: #3daf42;
  --background-color: #f1f8e9;
}

#result {
  display: none;
  background-color: white;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

* {
  /*font-family : 'Do Hyeon', sans-serif;*/
  font-family: "Jua", sans-serif;
}

.link_button {
  width: 36rem;
  padding: 12px 20px;
  text-align: center;
  font-size: 24px;
  background-color: #3e6b0b;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  letter-spacing: 6px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
}

.panel-default,
.panel-heading {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
  margin: 4px 0px;
}

.active,
.panel-default:hover {
  width: 100%;
  background-color: var(--main-color);
}

.panel-body {
  background-color: var(--background-color);
}

.total_result {
  margin-top: 20px;
  height: 100px;
  font-size: 30px;
}
.cash_movement {
  font-size: 30px;
}
