:root {
  /* color */
 
  --black-color: #292526;
  --white-color: #fff;
  --main-color: #8bc34a;
  --dark-main-color: #6b9b37;
  --before-color: #3daf42;
  --background-color: #f1f8e9;
}

#result {
  font-family: 'Gothic A1', sans-serif;
  display: none;
  background-color: #D8E6E7 !important;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

* {
  /*font-family : 'Do Hyeon', sans-serif;*/
  font-family: 'Gothic A1', sans-serif;
}

.link_button {
  width: 36rem;
  padding: 12px 20px;
  text-align: center;
  font-size: 24px;
  background-color: #3e6b0b;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  letter-spacing: 6px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70%;
  margin-top : -60px;
  margin-bottom : -100px;
}

.panel-default{
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 20px;
  margin: 4px 0px;
}
.panel-heading{
  background-color: black;
  color : white;
}

.active,
.panel-default:hover {
  width: 100%;
  background-color: #9DC3C1;
}

.panel-body {
  background-color: var(--background-color);
}

.total_result {
  margin-top: 20px;
  height: 100px;
  font-size: 30px;
  border : none;
  border-radius: 30px;
  padding-top : 8.5px;
  /* background-color: teal; */
  width : 60%;
  /* margin-left : 180px; */
  margin-left :auto;
  margin-right : auto;
  /* color: white; */
  font-weight: 500;
  color : red;
}
.cash_movement {
  font-size: 40px;
  font-weight: 500;
  color : #3daf42;
  font-weight: bold;
}

.helpful {
  font-size: 40px;
  font-weight: 500;
  color : #3daf42;
  font-weight: bold;
}

.title_1{
  color : #3daf42;
  font-size: 50px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.air_plan,
.traffic_plan,
.resource_plan,
.electric_plan{
  /* background-color : #9DC3C1; */
  color : #6E7783;
  border-radius: 20px;
  width : 70%;
  margin-left :auto;
  margin-right : auto;
  font-size: 20px;
  font-weight: 500;
}


.link_button{
  background-color: teal;
  color : white;
}
