#result {
  display: none;
  background-color: white;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

* {
  /*font-family : 'Do Hyeon', sans-serif;*/
  font-family: "Jua", sans-serif;
}

.link_button {
  width: 30rem;
  padding: 12px 20px;
  text-align: center;
  font-size: 30px;
  background-color: #3e6b0b;
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  letter-spacing: 6px;
}


.resource {
  border: 2px solid black;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  float: left;
}
.resource1 {
  border: 2px solid black;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  display: inline-block;
}
.resource2 {
  border: 2px solid black;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  float: left;
}
.resource3 {
  border: 2px solid black;
  width: 50%;
  border-radius: 20px;
  font-size: 20px;
  display: inline-block;
}
.total_result {
  margin-top: 20px;
  height: 100px;
  font-size: 30px;
}
.cash_movement{
  font-size: 30px;
}

